 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /*Get-Service section */
 main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    }
    
 main .Get-service{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    gap:30px;
    
 }    
 main .Get-service h1{
   color: #752713 ;
   font-size: 45px;
   margin-bottom: 20px;
 }
 main .Get-service form{
   display: flex;
   width: 60%;
   flex-direction: column;
   justify-content: center;
   
 }
 main .Get-service form input{
   border: 1px solid #121e3f;
   height: 40px;
   padding-left: 20px;
   background-color: #337dab24;
   border-radius: 15px;
 }
 main .Get-service form select{
   border: 1px solid #121e3f;
   height: 40px;
   padding-left: 20px;
   background-color: #337dab24;
   border-radius: 15px;
 }
 main .Get-service form .tt {
   background-color: #2980b9;
   color: white;
   height: 30px;
   border-radius: 15px;
 }
 main .image{
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 50px;
 }
 main .image img{
   width: 90% ;
   border-radius: 20px;
   margin-top: 40px;
 }

  
 main .Get-service{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    gap:30px;
    
 }    
 main .Get-service h1{
   color: #752713 ;
   font-size: 45px;
   margin-bottom: 20px;
 }
 main .Get-service form{
   display: flex;
   width: 60%;
   flex-direction: column;
   justify-content: center;
   
 }
 main .Get-service form input{
   border: 1px solid #121e3f;
   font-size: 16px;
   height: 40px;
   padding-left: 20px;
   background-color: #337dab24;
   border-radius: 15px;
 }
 main .Get-service form select{
   border: 1px solid #121e3f;
   height: 40px;
   font-size: 16px;
   padding-left: 20px;
   background-color: #337dab24;
   border-radius: 15px;
 }
 main .Get-service form .tt {
   background-color: #2980b9;
   color: white;
   height: 30px;
   border-radius: 15px;
   border: none;
 }
 main .image{
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 50px;
 }
 main .image img{
   width: 90% ;
   border-radius: 20px;
   margin-top: 40px;
 }
 /* TABLETTES (max-width: 992px) */
 @media (max-width: 992px) {

    main {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    main .Get-service,
    main .image {
        width: 90%;
        margin: 0;
    }

    main .Get-service h1 {
        font-size: 35px;
    }

    main .Get-service form {
        width: 80%;
    }

    main .image img {
        width: 100%;
        margin-top: 20px;
    }
}
/* SMARTPHONES (max-width: 600px) */
@media (max-width: 600px) {

    main .Get-service h1 {
        font-size: 28px;
    }

    main {
        padding: 10px;
    }

    main .Get-service form {
        width: 100%;
    }

    main .Get-service {
        margin-left: 0;
    }

    main .image img {
        width: 100%;
        margin-top: 10px;
    }
}
