@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Momo+Trust+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Momo+Trust+Display&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Stack+Sans+Text:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #121e3f;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  transition: 0.5s;
  z-index: 100;
}

header .links_side_bar {
  display: none;
}

header .menu_bar {
  display: none;
}

header .logo_header {
  width: 15%;
  justify-content: center;
  display: flex;
}

header .logo_header img {
  width: 80%;
  cursor: pointer;
}

header .links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

header .links a {
  font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  text-decoration: none;
  color: white;
  position: relative;
}

header .links a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  left: 0;
}

header .account {
  display: flex;
  justify-content: center;
  width: 10%;
}

header .account a {
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  color: #121e3f;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

main .tite_container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.tite_container h2 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  color: #2980b9;
  position: relative;
}

.tite_container h2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: #2980b9;
  left: 25%;
  bottom: -10px;
  right: 25%;
}

main .carousel_container {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carousel_container ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.carousel_container ul li {
  width: 150px;
  height: 25px;
  border-radius: 25px;
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
  cursor: pointer;
}

.carousel_container ul li.active {
  background-color: #2980b9;
  color: white;
}

main .container {
  width: 100%;
  height: 94%;
}

.container .cards {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.cards .card {
  width: 350px;
  height: 370px;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px white;
}

.card .card_img {
  width: 100%;
  height: 70%;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card .card_body {
  width: 100%;
  height: 30%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_body .card_info {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_info .card_title {
  display: block;
  gap: 5px;
}

.card_title h5 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.card_title span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
}


.card_info .card_price span {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2980b9;
}

.card_body .card_button {
  width: 100%;
  height: 50%;
  position: relative;
}

.card_button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #2980b9;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

/* Footer Part */
footer {
  background-color: #121e3f;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .footer_all {
  width: 100%;
  display: flex;
}

footer .footer_all .footer_left {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

footer .footer_all .footer_left p {
  color: white;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  text-align: center;
}

footer .social_media_part {
  gap: 20px;
  display: flex;
}

footer .social_media_part img {
  color: #2980b9;
  width: 30px;
  text-decoration: none;
  cursor: pointer;
  background-color: #2980b9;
  border-radius: 5px;
}

footer .footer_all .footer_form {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

footer .footer_all .footer_form .footer_form_connect {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 25px 0;
}

footer .footer_all .footer_form .footer_form_connect h4 {
  color: #2980b9;
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

footer .footer_all .footer_form .footer_form_connect form {
  width: 100%;
  justify-content: center;
  display: flex;
}

footer .footer_all .footer_form .footer_form_connect input {
  width: 280px;
  height: 40px;
  padding: 10px;
  padding-left: 30px;
  font-size: 15px;
  border: 2px solid #2980b9;
  color: white;
  background-color: #121e3f;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

footer .footer_all .footer_form .footer_form_connect input::placeholder {
  color: white;
}

footer .footer_all .footer_form .footer_form_connect button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
}

footer .footer_all .footer_form .about_us {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  display: flex;
  align-items: center;
}

footer .footer_all .footer_form .about_us h2 {
  color: #2980b9;
  font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

footer .footer_all .footer_form .about_us p {
  color: white;
  padding-right: 50px;
  text-align: center;
  line-height: 1.5;
  padding: 10px 40px;
}

footer .copyright {
  width: 100%;
  background-color: rgb(44, 42, 42);
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
}

main .shopping_cart {
  display: none;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 70px;
    background-color: #121e3f;
    display: flex;
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: 0.5s;
    z-index: 100;
  }

  header .links,
  header .account {
    display: none;
  }

  header .logo_header {
    width: 60%;
    justify-content: first baseline;
    display: flex;
  }

  header .logo_header img {
    width: 150px;
    transition: 0.5s;
    cursor: pointer;
  }

  header .menu_bar {
    justify-content: end;
    display: flex;
    font-size: 20px;
    cursor: pointer;
  }

  header .menu_bar i {
    text-decoration: none;
    color: white;
  }

  header .links_side_bar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #0f2e8552;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    gap: 50px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
  }

  header .links_side_bar.open {
    transform: translateX(0);
  }

  header .links_side_bar .close_icon {
    color: #121e3f;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }

  header .links_side_bar ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    margin-top: 30px;
  }

  header .links_side_bar ul li {
    width: 100%;
  }

  header .links_side_bar ul li a {
    text-decoration: none;
    font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
    width: 100%;
    color: white;
  }

  header .links_side_bar ul .account_side_bar {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    color: #121e3f;
  }

  main {
    width: 100%;
  }

  main .tite_container {
    height: 100px;
  }

  main .carousel_container {
    display: none;
  }

  .tite_container h2 {
    font-size: 25px;
  }




  /* Shopping Icon*/
  main .shopping_cart {
    display: block;
    color: white;
    background-color: #2980b9;
    padding: 15px;
    border-radius: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
    font-size: 20px;
  }
}