@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Momo+Trust+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Momo+Trust+Display&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Stack+Sans+Text:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

main .tite_container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.tite_container h2 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  color: #2980b9;
  position: relative;
}

.tite_container h2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: #2980b9;
  left: 25%;
  bottom: -10px;
  right: 25%;
}

main .carousel_container {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carousel_container ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.carousel_container ul li {
  width: 150px;
  height: 25px;
  border-radius: 25px;
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Momo Trust Display", sans-serif;
  font-style: normal;
  cursor: pointer;
}

.carousel_container ul li.active{
  background-color: #2980b9;
  color: white;
}

main .container {
  width: 100%;
  height: 94%;
}

.container .cards {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.cards .card {
  width: 350px;
  height: 370px;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px white;
}

.card .card_img {
  width: 100%;
  height: 70%;
}

.card_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card .card_body {
  width: 100%;
  height: 30%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_body .card_info {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_info .card_title {
  display: block;
  gap: 5px;
}

.card_title h5 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.card_title span{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
}


.card_info .card_price span{
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2980b9;
}

.card_body .card_button{
  width: 100%;
  height: 50%;
  position: relative;
}

.card_button a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #2980b9;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}