@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Momo+Trust+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #121e3f;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  transition: 0.5s;
  z-index: 100;
}

header .links_side_bar {
  display: none;
}

header .menu_bar {
  display: none;
}

header .logo_header {
  width: 15%;
  justify-content: center;
  display: flex;
}

header .logo_header img {
  width: 80%;
  cursor: pointer;
}

header .links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

header .links a {
  font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  text-decoration: none;
  color: white;
  position: relative;
}

header .links a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  left: 0;
}

header .account {
  display: flex;
  justify-content: center;
  width: 10%;
}

header .account a {
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  color: #121e3f;
}

h4 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  margin-top: 30px;
}

.product_details {
  width: 100%;
  height: 100vh;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_details .left {
  width: 42%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left .product_image {
  width: 100%;
  height: 70%;
}

.product_image .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left .product_carousel_image {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.product_carousel_image .carousel_image {
  width: 30%;
  height: 80%;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid lightgray;
}

.product_details .right {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right .product_info_top {
  width: 100%;
  height: 20%;
  border-bottom: 2px dashed whitesmoke;
}

.product_info_top h2 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.product_info_top p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  margin-bottom: 20px;
  font-size: 18px;
  color: lightgrey;
}

.product_info_top .productPrice {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.right .product_info_body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product_info_body .product_description {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product_description p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
  font-size: 13px;
}

.product_info_body .product_key_features {
  width: 100%;
  height: fit-content;
  gap: 5px;
}

.product_key_features ul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
  font-size: 13px;
}

.product_key_features ul li {
  margin-left: 40px;
}

.product_buttons {
  width: 100%;
  height: 30%;
  margin-bottom: 25px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.product_buttons .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding-top: 20px;
}

.product_buttons .buttons a {
  width: 100%;
  height: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}


.buttons a:nth-child(1) {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.buttons a:nth-child(2) {
  background-color: #2980b9;
  color: white;
}

.product_buttons .ProductQuantity {
  width: 48%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.ProductQuantity button {
  padding: 15px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.ProductQuantity button:disabled {
  border: 1px solid red;
  background-color: red;
}

.ProductQuantity span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.banner {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: end;
  justify-content: left;
  padding: 0 100px;
}

.banner h4 {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  font-size: 18px;
  color: lightgrey;
  font-weight: 600;
}

footer {
  background-color: #121e3f;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .footer_all {
  width: 100%;
  display: flex;
}

footer .footer_all .footer_left {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

footer .footer_all .footer_left p {
  color: white;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  text-align: center;
}

footer .social_media_part {
  gap: 20px;
  display: flex;
}

footer .social_media_part img {
  color: #2980b9;
  width: 30px;
  text-decoration: none;
  cursor: pointer;
  background-color: #2980b9;
  border-radius: 5px;
}

footer .footer_all .footer_form {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

footer .footer_all .footer_form .footer_form_connect {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 25px 0;
}

footer .footer_all .footer_form .footer_form_connect h4 {
  color: #2980b9;
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

footer .footer_all .footer_form .footer_form_connect form {
  width: 100%;
  justify-content: center;
  display: flex;
}

footer .footer_all .footer_form .footer_form_connect input {
  width: 280px;
  height: 40px;
  padding: 10px;
  padding-left: 30px;
  font-size: 15px;
  border: 2px solid #2980b9;
  color: white;
  background-color: #121e3f;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

footer .footer_all .footer_form .footer_form_connect input::placeholder {
  color: white;
}

footer .footer_all .footer_form .footer_form_connect button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
}

footer .footer_all .footer_form .about_us {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  display: flex;
  align-items: center;
}

footer .footer_all .footer_form .about_us h2 {
  color: #2980b9;
  font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

footer .footer_all .footer_form .about_us p {
  color: white;
  padding-right: 50px;
  text-align: center;
  line-height: 1.5;
  padding: 10px 40px;
}

footer .copyright {
  width: 100%;
  background-color: rgb(44, 42, 42);
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
}


@media screen and (max-width: 768px) {

  header {
    width: 100%;
    height: 70px;
    background-color: #121e3f;
    display: flex;
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: 0.5s;
    z-index: 100;
  }

  header .links,
  header .account {
    display: none;
  }

  header .logo_header {
    width: 60%;
    justify-content: first baseline;
    display: flex;
  }

  header .logo_header img {
    width: 150px;
    transition: 0.5s;
    cursor: pointer;
  }

  header .menu_bar {
    justify-content: end;
    display: flex;
    font-size: 20px;
    cursor: pointer;
  }

  header .menu_bar i {
    text-decoration: none;
    color: white;
  }

  header .links_side_bar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #0f2e8552;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    gap: 50px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
  }

  header .links_side_bar.open {
    transform: translateX(0);
  }

  header .links_side_bar .close_icon {
    color: #121e3f;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }

  header .links_side_bar ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    margin-top: 30px;
  }

  header .links_side_bar ul li {
    width: 100%;
  }

  header .links_side_bar ul li a {
    text-decoration: none;
    font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
    width: 100%;
    color: white;
  }

  header .links_side_bar ul .account_side_bar {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    color: #121e3f;
  }

  .banner {
    padding: 0 20px;
  }

  .banner h4 {
    font-size: 15px;
  }

  .product_details {
    height: fit-content;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
  }

  .product_details .left {
    width: 100%;
  }

  .product_details .right {
    width: 100%;
  }

  .right .product_info_top {
    display: flex;
    flex-direction: column;
  }

  .product_buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .product_buttons .buttons {
    gap: 15px;
  }

  footer .footer_all {
    flex-direction: column-reverse;
  }

  footer .footer_all .footer_left {
    width: 100%;
    padding: 10px 0;
  }

  footer .footer_all .footer_left p {
    font-size: 12px;
  }

  footer .social_media_part img {
    width: 25px;
  }

  footer .footer_all .footer_form {
    width: 100%;
  }

  footer .footer_all .footer_form .footer_form_connect h4 {
    font-size: 18px;
  }

  footer .footer_all .footer_form .footer_form_connect input {
    width: 60%;
  }

  footer .footer_all .footer_form .footer_form_connect button {
    width: 25%;
  }

  footer .footer_all .footer_form .about_us {
    padding: 10px 20px;
  }

  footer .footer_all .footer_form .about_us h2 {
    font-size: 18px;

  }

  footer .footer_all .footer_form .about_us p {
    padding: 10px 0;
  }

  footer .copyright {
    font-size: 10px;
  }
}