@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Momo+Trust+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  margin-top: 30px;
}

.product_details {
  width: 100%;
  height: 100vh;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_details .left {
  width: 42%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left .product_image {
  width: 100%;
  height: 70%;
}

.product_image .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left .product_carousel_image {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.product_carousel_image .carousel_image {
  width: 30%;
  height: 80%;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid lightgray;
}

.product_details .right {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right .product_info_top {
  width: 100%;
  height: 20%;
  border-bottom: 2px dashed whitesmoke;
}

.product_info_top h2 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.product_info_top p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  margin-bottom: 20px;
  font-size: 18px;
  color: lightgrey;
}

.product_info_top .productPrice {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.right .product_info_body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product_info_body .product_description {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product_description p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
  font-size: 13px;
}

.product_info_body .product_key_features {
  width: 100%;
  height: fit-content;
  gap: 5px;
}

.product_key_features ul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
  font-size: 13px;
}

.product_key_features ul li {
  margin-left: 40px;
}

.product_buttons {
  width: 100%;
  height: 30%;
  margin-bottom: 25px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.product_buttons .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding-top: 20px;
}

.product_buttons .buttons a {
  width: 100%;
  height: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}


.buttons a:nth-child(1) {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.buttons a:nth-child(2) {
  background-color: #2980b9;
  color: white;
}

.product_buttons .ProductQuantity {
  width: 48%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.ProductQuantity button {
  padding: 15px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.ProductQuantity button:disabled {
  border: 1px solid red;
  background-color: red;
}

.ProductQuantity span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.banner {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: end;
  justify-content: left;
  padding: 0 100px;
}

.banner h4 {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  font-size: 18px;
  color: lightgrey;
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  .banner {
    padding: 0 20px;
  }

  .banner h4 {
    font-size: 15px;
  }

  .product_details {
    height: fit-content;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
  }

  .product_details .left {
    width: 100%;
  }

  .product_details .right {
    width: 100%;
  }

  .right .product_info_top {
    display: flex;
    flex-direction: column;
  }

  .product_buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .product_buttons .buttons {
    gap: 15px;
  }
}