* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All The Main Part */
main {
    height: 400vh;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    
    /* Header Part */
    header {
        width: 100%;
        height: 100px;
        background-color: #121E3F;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        transition: 0.5s;
        z-index: 100;
    }
    header .logo_header {
        width: 15%;
        justify-content: center;
        display: flex;
    }
    header .logo_header img {
        width: 200px;
        transition: 0.5s;
        cursor: pointer;
    }
    header .links {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
    header .links a {
        font-family: 'Montserrat', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        color: white;
        position: relative;
    }

    header.active {
        position: fixed;
        background-color: #121E3F;
        color: white;
        height: 60px;
    }
    header.active .logo_header img {
        width: 150px;
    }
    header.active .links a {
        color: white;
    }
    header.active .links a::before {
        background-color: white;
    }
    header.active .account a {
        padding: 7px;
    }

    header .links a::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: -5px;
        left: 0;
    }
    header .account {
        display: flex;
        gap: 10px;
        width: 6%;
        justify-content: center;
    }
    header .account a {
        text-decoration: none;
        color: #121E3F;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
    }
}