* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All The Main Part */
main {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  /* Header Part */
  header {
    width: 100%;
    height: 100px;
    background-color: #121e3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: 0.5s;
    z-index: 100;
  }
  header .logo_header {
    width: 15%;
    justify-content: center;
    display: flex;
  }
  header .logo_header img {
    width: 200px;
    transition: 0.5s;
    cursor: pointer;
  }
  header .links {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  header .links a {
    font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
    text-decoration: none;
    color: white;
    position: relative;
  }

  header.active {
    position: fixed;
    background-color: #121e3f;
    color: white;
    height: 60px;
  }
  header.active .logo_header img {
    width: 150px;
  }
  header.active .links a {
    color: white;
  }
  header.active .links a::before {
    background-color: white;
  }
  header.active .account a {
    padding: 7px;
  }

  header .links a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  header .account {
    display: flex;
    gap: 10px;
    width: 6%;
    justify-content: center;
  }
  header .account a {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
  }
   header .account a img {
    width: 20px;
   }

  /* Hero Section */
  main .hero .hero_div {
    width: 100%;
    height: 780px;
    background-image: url(../imgs/hero_background.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero h1 {
   color: #e9ebef;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 20%;
    top: 30%;
    font-size: 55px;

    position: absolute;
    font-family: "Momo Trust Display", sans-serif;
  }
  main .hero .hero_div p {
    color: rgb(232, 233, 235);
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 70px;
    padding-top: 35%;
  }

  /* Categories class */
  main .categories {
    width: 100%;
    height: 100vh;
  }
  main .categories h1 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: #121e3f;
    font-family: "Momo Trust Display", sans-serif;
    height: 20%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  main .categories .categories_div {
    width: 100%;
    height: 80%;
    background-color: #121e3f;
    background-image: url(../imgs/categories_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
  }
  main .categories .categories_div .old_pieces img,
  main .categories .categories_div .new_pieces img {
    width: 100%;
  }
  main .categories .categories_div .new_pieces {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
    height: 90%;
  }
  main .categories .categories_div .old_pieces {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
    height: 90%;
  }
  main .categories .categories_div .nouveau_piece {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 80%;
    text-align: center;
    font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
    background-color: #121e3f;
    border-radius: 50px;
    border: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  main .categories .categories_div .ancien_piece {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 80%;
    text-align: center;
    font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
    background-color: #121e3f;
    border-radius: 50px;
    border: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  main .categories .categories_div h3 {
    font-family: "Momo Trust Display", sans-serif;
    color: #121e3f;
    margin-top: 40px;
    font-size: 20px;
  }

  /* Services Section */
  .services {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .services .title {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 40px;
  }

  .title h2 {
    color: #2980b9;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 55px;
    position: relative;
    margin-bottom: 20px;
  }

  .title h2::after {
    content: "";
    width: 60%;
    height: 3px;
    background-color: #2980b9;
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
  }

  .title p {
    text-align: center;
    color: #2980b9;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }

  .services .services_cards {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2980b9;
    padding: 0 25px;
  }

  .services_cards .card {
    width: 300px;
    height: 400px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 10px 0 white;
    border-radius: 4px;
  }

  .services_cards .card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
  }

  .services_cards .card h4 {
    color: #2980b9;
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .services .card a {
    padding: 16px 32px;
    background-color: #2980b9;
    position: relative;
    text-decoration: none;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    border-radius: 32px;
  }

  /* Contact Us Section */
  .contact_us {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    gap: 20px;
  }

  .contact_us .ContactUs_Part1 {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }

  .ContactUs_Part1 .ContactUs_content {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
  }

  .ContactUs_content h2 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 33px;
    text-align: center;
    color: #2980b9;
  }

  .ContactUs_content p {
    color: #2980b9;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
  }

  .ContactUs_content hr {
    width: 50%;
    border: 1px solid #2980b9;
  }

  .ContactUs_content form {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
  }

  .ContactUs_content form input {
    outline: none;
    border: none;
    width: 80%;
    height: 40px;
    padding: 0 20px;
    background-color: whitesmoke;
    border-radius: 4px;
  }

  .ContactUs_content form input::placeholder {
    color: black;
  }

  .ContactUs_content form button {
    width: 30%;
    margin-top: 10px;
    height: 40px;
    background-color: #2980b9;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }

  .ContactUs_Part1 .ContactUs_image {
    width: 45%;
    height: 100%;
    position: relative;
    padding: 50px;
  }

  .ContactUs_image img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  .contact_us .ContactUs_Part2 {
    width: 100%;
    height: 35%;
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
  }

  .ContactUs_Part2 .social_card {
    width: 400px;
    height: 150px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    gap: 20px;
    border-radius: 8px;
  }

  .social_card div {
    display: flex;
    align-items: bottom;
    justify-content: left;
    gap: 10px;
    font-size: 18px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  

  /* Footer Part */
  footer {
    background-color: #121e3f;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  footer .cars_links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    padding: 20px;
  }
  footer .cars_links img {
    width: 150px;
    opacity: 40%;
    transition: 0.5s;
  }
  footer .cars_links img:hover {
    opacity: 100%;
  }
  footer .footer_all {
    width: 100%;
    display: flex;
  }
  footer .footer_all .footer_left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .footer_all .footer_left p {
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
  }
  footer .footer_all .short_links {
    width: 20%;
    margin-top: 30px;
    height: 100%;
  }
  footer .footer_all .short_links .links_num_1 {
    color: #2980b9;
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 18px;
    margin-left: 80px;
  }
  footer .footer_all .short_links .links_num_1 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 15px;
  }
  footer .footer_all .short_links .links_num_2 {
    color: #2980b9;
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 18px;
    margin-left: 80px;
  }
  footer .footer_all .short_links .links_num_2 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 15px;
  }
  footer .footer_all .footer_form {
    width: 50%;
    margin-top: 45px;
  }
  footer img {
    width: 180px;
  }
  footer .social_media_part {
    padding: 20px;
  }
  footer .social_media_part img {
    color: #2980b9;
    width: 30px;
    text-decoration: none;
    cursor: pointer;
    background-color: #2980b9;
    border-radius: 5px;
    margin: 5px;
  }
  footer .footer_all .footer_form .footer_form_connect {
    position: relative;
    margin-top: 15px;
    margin-left: 25%;
  }
  footer .footer_all .footer_form h4 {
    color: #2980b9;
    font-size: 20px;
    text-align: center;
    font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
  }
  footer .footer_all .footer_form .footer_form_connect input {
    width: 50%;
    height: 40px;
    padding: 10px;
    padding-left: 30px;
    font-size: 15px;
    border: 2px solid #2980b9;
    color: white;
    background-color: #121e3f;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  footer .footer_all .footer_form .footer_form_connect input::placeholder {
    color: white;
  }
  footer .footer_all .footer_form .footer_form_connect button {
    width: 20%;
    height: 40px;
    font-size: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    background-color: #2980b9;
    position: absolute;
    color: white;
    cursor: pointer;
  }
  footer .footer_all .footer_form .about_us {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding-left:100px;
  }
  footer .footer_all .footer_form .about_us h2 {
    color: #2980b9;
    font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
  }
  footer .footer_all .footer_form .about_us p {
    color: white;
    margin-left: 15px;
    padding-right: 50px;
    text-align: justify;
    margin-top: 20px;
    line-height: 1.5;
  }
  footer .copyright {
    width: 100%;
    background-color: rgb(44, 42, 42);
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
  }
}
