* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All The Main Part */
main {
  height: 400vh;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  /* Header Part */
  header {
    width: 100%;
    height: 100px;
    background-color: #121e3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: 0.5s;
    z-index: 100;
  }
  header .logo_header {
    width: 15%;
    justify-content: center;
    display: flex;
  }
  header .logo_header img {
    width: 200px;
    transition: 0.5s;
    cursor: pointer;
  }
  header .links {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  header .links a {
    font-family: "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
    text-decoration: none;
    color: white;
    position: relative;
  }

  header.active {
    position: fixed;
    background-color: #121e3f;
    color: white;
    height: 60px;
  }
  header.active .logo_header img {
    width: 150px;
  }
  header.active .links a {
    color: white;
  }
  header.active .links a::before {
    background-color: white;
  }
  header.active .account a {
    padding: 7px;
  }

  header .links a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  header .account {
    display: flex;
    gap: 10px;
    width: 6%;
    justify-content: center;
  }
  header .account a {
    text-decoration: none;
    color: #121e3f;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
  }

  /* Hero Section */
  main .hero .hero_div {
    width: 100%;
    height: 650px;
    background-image: url(../imgs/hero_background.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .hero h1 {
    color: #121e3f;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 55px;
    font-family: "Momo Trust Display", sans-serif;
  }
  main .hero .hero_div p {
    color: white;
    display: flex;
    justify-content: center;
    padding: 70px;
    font-size: 20px;
    text-align: center;
  }


  /* Categories class */
  main .categories {
    width: 100%;
    height: 100vh;
  }
  main .categories h1 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: #121e3f;
    font-family: "Momo Trust Display", sans-serif;
    height: 20%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  main .categories h1::after {
    content: "";
    width: 20%;
    height: 3px;
    background-color: #121e3f;
    position: absolute;
    left: 40%;
    right: 40%;
    margin-top: 55px;
  }
  main .categories .categories_div {
    width: 100%;
    height: 80%;
    background-color: #121e3f;
    background-image: url(../imgs/categories_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
  }
  main .categories .categories_div .old_pieces img,
  main .categories .categories_div .new_pieces img {
    width: 100%;
  }
  main .categories .categories_div .new_pieces {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
    height: 90%;
  }
  main .categories .categories_div .old_pieces {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
    height: 90%;
  }
  main .categories .categories_div .nouveau_piece {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 80%;
    text-align: center;
    font-family: "Momo Trust Display", "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
    background-color: #2980b9;
    border-radius: 50px;
    border: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  main .categories .categories_div .ancien_piece {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 80%;
    text-align: center;
    font-family: "Momo Trust Display", "Montserrat", Cambria, Cochin, Georgia, Times,
      "Times New Roman", serif;
    background-color: #2980b9;
    border-radius: 50px;
    border: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  main .categories .categories_div h3 {
    font-family: "Momo Trust Display", sans-serif;
    color: #121e3f;
    margin-top: 40px;
    font-size: 20px;
  }

  /* Services Section */
  .services {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .services .title {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 40px;
  }

  .title h2 {
    color: #121e3f;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 55px;
    position: relative;
    margin-bottom: 20px;
  }

  .title h2::after {
    content: "";
    width: 60%;
    height: 3px;
    background-color: #121e3f;
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
  }

  .title p {
    text-align: center;
    color: #2980b9;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }

  .services .services_cards {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2980b9;
    padding: 0 25px;
  }

  .services_cards .card {
    width: 300px;
    height: 400px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 10px 0 white;
    border-radius: 4px;
  }

  .services_cards .card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
  }

  .services_cards .card h4 {
    color: #2980b9;
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .services .card a {
    padding: 16px 32px;
    background-color: #2980b9;
    position: relative;
    text-decoration: none;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    border-radius: 32px;
  }


/* Contact Us Section */
.contact_us {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.contact_us .ContactUs_Part1 {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.ContactUs_Part1 .ContactUs_content {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
}

.ContactUs_content h2 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 33px;
  text-align: center;
  color: #121e3f;
}

.ContactUs_content p {
  color: #2980b9;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-align: center;
}

.ContactUs_content hr {
  width: 50%;
  border: 1px solid #121e3f;
}

.ContactUs_content form {
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.ContactUs_content form input {
  outline: none;
  border: none;
  width: 80%;
  height: 40px;
  padding: 0 20px;
  background-color: whitesmoke;
  border-radius: 4px;
}

.ContactUs_content form input::placeholder {
  color: black;
}

.ContactUs_content form button {
  width: 30%;
  margin-top: 10px;
  height: 40px;
  background-color: #2980b9;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.ContactUs_Part1 .ContactUs_image {
  width: 45%;
  height: 100%;
  position: relative;
  padding: 50px;
}

.ContactUs_image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.contact_us .ContactUs_Part2 {
  width: 100%;
  height: 35%;
  background-color: #2980b9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

.ContactUs_Part2 .social_card {
  width: 400px;
  height: 150px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  gap: 20px;
  border-radius: 8px;
}

.social_card div {
  display: flex;
  align-items: bottom;
  justify-content: left;
  gap: 10px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
}
